<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/static/css/style.css}"/>
<head>
</head>
<body>
<footer th:fragment="footer">
    <div class="footer">
        <section id="footer" class="py-5">
            <div class="container text-center">
                <a href="#" class="twitter"></a>
                <a href="#" class="linkedin"></a>
                <a href="#" class="facebook"></a>
                <a href="#" class="skype"></a>
                <a href="#" class="flickr"></a>
                <h6 class="m-0 mt-4 text-center text-white text-capitalize">Mantas Lukšas &copy; 2022</h6>
            </div>
        </section>
    </div>
</footer>
</body>
</html>